body{
    background-color: black;
    color: white;
}
.bgwrapper{
    background: url(../img/intro-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-t {
    background: transparent !important;
}