.center {
    padding: 100px 0;
    text-align: center;
}

.bgimage {
    border: 2px solid black;
    padding: 25px;
    background: url(../img/intro-bg.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

.bg-t {
    background: transparent !important;
}